/* Global CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button{
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: green;
}

button:hover {
  color: rgb(204, 0, 0);
}





/*Sidebar CSS*/
.sidebar-container{
  width: 30%;
  height: 100vh;
  background-color: red;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.sidebar-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.sidebar-notes{
  height: calc(100vh - 78px);
}

.sidebar-note{
  margin: 10px 10px 0 10px;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.sidebar-note-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

.sidebar-note-header button{
  display: block;
}

.sidebar-note-header strong{
  overflow: hidden;
}

.sidebar-note-preview{
  word-wrap: break-word;
}

.sidebar-note-meta{
  display: block;
  color: #999;
}

.sidebar-note:hover {
  background: #ddd;
}


.sidebar-note.active,
.sidebar-note.active small {
  background: #08c;
  color: white;
}

/*Hero CSS*/
.hero-container{
  width: 70%;
  height: 100vh;
}

/*Editor*/
.main-note-editor-container{
  height: 20vh;
  padding: 25px;
}

.main-note-editor-container input,
textarea, .ProseMirror, .toolbar, .test{
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(90vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  overflow-y: scroll;
}


.main-note-editor-container input, .toolbar{
  height: 50px;
}

.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}




.toolbar{
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
}

.toolbar div{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  
}

.toolbar button{
  color: rgb(0, 0, 0);
}


