/* Global CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button{
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: green;
}

button:hover {
  color: rgb(204, 0, 0);
}





/*Sidebar CSS*/
.sidebar-container{
  width: 30%;
  height: 100vh;
  background-color: red;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.sidebar-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.sidebar-notes{
  height: calc(100vh - 78px);
}

.sidebar-note{
  margin: 10px 10px 0 10px;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.sidebar-note-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sidebar-note-meta{
  display: block;
  color: #999;
}

.sidebar-note:hover {
  background: #ddd;
}


.sidebar-note.active,
.sidebar-note.active small {
  background: #08c;
  color: white;
}

/*Hero CSS*/
.hero-container{
  width: 70%;
  height: 100vh;
}

/*Editor*/
.editor-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210mm;
  margin-left: auto;
  margin: auto;
}

.editor-header-container input{
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 210mm;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  height: 50px;
  font-size: 2rem;
}


.editor-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  width: 210mm;
  margin-left: auto;
  margin: auto;
}

.editor-navbar-container div{
  margin-right: 20px;
}

.editor-navbar-container button{
  color: #000;
}

.generate-pdf button{
  color: #08c;
  font-size: 20px;
}

.generate-pdf button:hover{
  font-weight: bold;
}


.editor-note-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210mm;
  margin-left: auto;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;

}

.ProseMirror{
  width: 210mm;
  min-height: 100px;
  padding: 5px;
}

.ProseMirror p {
  margin: 0;
  border: 0;
}

.font-size{
  display: inline;
  border: 1px solid black;
  padding-right: 4px;
}

.font-size input{
  width: 22px;
  margin: 0;
  border: 0;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
   margin: 0; 
}