body {
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #60a0b0;
  --bg: #040032;
  --white: #fff;
  --green: #106929;
  --red: #930000;
  --yellow: #C1CC40;
  --bg-hover: #120d4f;
}


#editor {
  visibility: hidden;
}

.beta-label {
  position: relative;
  font-size: 10px;
  top: -10px;
  right: 3px;
}

.beta-label:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.beta-label:hover::after {
  content: "";
  position: absolute;
  bottom: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom: 5px solid #000;
}
